.container{
    width: 600px;
    height: 300px;
    background-color: rgb(197, 244, 45);
    display:inline-grid;
    /* grid-template-rows: 50px 50px 50px 50px 50px;
    grid-template-columns: 80px 80px 80px 80px 80px; */
    /* grid-template-rows: repeat(8, 1fr); */
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: repeat(3,1fr);
    /* row-gap: 10px;
    column-gap: 30px; */
    grid-gap: 10px;
    /* justify-items: center;
    align-items: center; */
    place-items: center;

}
.one{
    place-self: start;
}
.item{
    width:100px ;
    height: 50px;
    background-color: greenyellow;
    border: 2px solid rgb(227, 40, 40);
    text-align: center;
}
/* .one{
   /* grid-column-start: 1; 
   grid-column-end: 3; */
   /* grid-column: 1/4; */
   /* grid-column: 1/span 4;
} */
/* .two{
    /* grid-row-start: 1;
    grid-row-end: 3; */
    /* grid-row: 1/4; */
    /* grid-row: 1/span3; */
/* } */ 
/* .one{
    justify-self: end;
    align-self: end;
} */