h3{
    background-color: greenyellow !important;
}

*{
    font-family: 'Courier New', Courier, monospace;
}

h3{
    color: rgb(255, 98, 0);
}

h1 {
    color: #b92b27;
}
#login{
    background-color: white;
}
#signup{
    background-color: #b92b27;
    color: white;
}

.upvote {
    background-color: green;
    color: aliceblue;
}

/* descendant Selector */
.post a{
    color: purple;
    background-color: yellow;
}

nav a {
    color: rgb(244, 47, 231);
}
p + h3{
    text-decoration: underline;
}

.upvote + button{
    background-color: cornflowerblue;
    color: white;
}
div>input{
    background-color: aqua;
}

input[type="text"] {
    color: red;
}
input[type="password"]{
    color: blue;
}
input[type]{
    background-color: azure;
}

#myid p{
    color: green;
}
button:hover{
    color: white;
    background-color:black;
}
h3:hover{
    background-color: blue;
}
button:active{
    background-color: chartreuse;
}

p:active{
    font-weight: bold;
    color: crimson;
}

input[type="radio"]:checked + label{
    color: red;
    font-weight: bold;
    
}
div:nth-of-type(1n){
    background-color: antiquewhite;
}

h1::first-letter{
    color: blue;
}
p::first-line{
    color: purple;
    background-color: aqua;
}
p::selection{
    background-color: #daea2a;
}

h3{
    background-color:yellow ;
}
h3{
    background-color:blue ;
}


