h1{
    font-family: league spartum;
    color: #ffa511;
    text-align: center;
    font-size: 55px;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 1.5x;
    text-decoration:  rgb(11, 252, 252) double underline;
    text-transform: uppercase;


}